@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-block: 1.5rem;
    text-align: center;
}

h1 {
    font-weight: normal;
    margin-bottom: 4rem;
}

h1 span {
    font-family: 'Pacifico', cursive;
    display: block;
    line-height: 28px;
}

label {
    display: block;
    font-size: 18px;
}

.box_number {
    font-weight: 600;
    margin-top: 4px;
    height: 40px;
    width: 165px;
    font-size: 18px;
    text-align: center;
}

button {
    background: #000;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    height: 40px;
    font-size: 16px;
}
